[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
markdown = "*"
pika = "*"
grpcio-tools = "*"
grpcio = "*"
djangogrpcframework = "*"

[requires]
python_version = "3.8"
