[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-filter = "*"
djangogrpcframework = "*"
djangorestframework = "*"
grpcio = "*"
grpcio-tools = "*"
markdown = "*"
psycopg2 = "*"
requests = "*"

[requires]
python_version = "3.8"
