[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-q = "*"
redis = "*"
grpcio = "*"
psycopg2 = "*"
grpcio-tools = "*"
pika = "*"

[requires]
python_version = "3.8"
